{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<section id="commentaires">

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
{{form_start(form)}}
{{form_widget(form)}}

<button type"submit" class="btn btn-success" >ADD</button>
{{form_end(form)}}


</section>

<br>
 <button type"submit" class="btn btn-default" onclick="window.location.href='/amis/recommand'">Recommandation</button>


{% endblock %}
