{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello
{% if  user %}
 {{ user.Username }}!
{% endif%}
 {% endblock %}

{% block body %}
 {{form_start(form)}}
 {{form_widget(form)}}
 <button type"submit" class="btn btn-success">Add</button>
 {{form_end(form)}}
{% endblock %}
